.main-footer {
    width: 100vw;
    height: 100%;

}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    background-color: #172a51f1;
    color: #aaa;
    margin: 0;
}

.footer-logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    max-width: 40%;
    padding: 0;
    margin: 0;
}


.logo-column {
    padding: 1rem;
}

.nav-column_1 {
    padding: 1rem;
}

.nav-column_2 {
    padding: 1rem;
}

.footer-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.4rem;
    margin-top: 3rem;
}

.footer-text {
    text-align: center;
}

.footer-bottom {
    text-align: center;
    padding: 1rem;
    background-color: #172a51f1;
    color: #aaa;
}

@media screen and (max-width: 960px) {
    .footer-container {
        grid-template-columns: 1fr;
    }

    .footer-list {
        flex-direction: row;
        margin-left: -4.5rem;
        margin-top: 0;
    }
}