.partner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    ;
}

.partner-container_two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
    margin-top: 3rem;
    padding: 0 10rem 0 10rem;
    ;
}

.partner-container_three {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5rem;
    margin-top: 3rem;
    padding: 0 7rem 0 7rem;
    ;
}

.partner-heading {
    text-align: center;
    /* text-transform: uppercase; */
    color: #172a51f1;
    font-weight: 700;
    margin-top: 3rem;
}

.partner-subheading {
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
}

.apda-image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    margin-bottom: 2rem;
    ;
}

.logos {
    width: 15%;
}

.logos-two {
    width: 20%;
}

.logos-three {
    width: 30%;
}

@media screen and (max-width:960px) {
    .partner-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .partner-container_two {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: -3rem;
        ;
    }

    .partner-container_three {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logos {
        width: 35%;
    }

    .logos-two {
        height: 35%;
        width: 35%;
    }

    .logos-three {
        height: 35%;
        width: 55%;
    }
}