.career-heading {
    color: #172a51f1;
    text-align: center;
    /* text-transform: uppercase; */
    font-weight: 700;
    font-size: 2.2rem;
    margin-top: 3rem;
}

.career-subheading {
    color: #172a51f1;
    font-size: 1.2rem;
    margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.career-title {
    background-color: #172a51f1;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 1.5rem 0rem 1.5rem 0rem;
    text-transform: uppercase;
}

.career-footer {
    color: #172a51f1;
    text-align: center;
    /* text-transform: uppercase; */
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 3rem;
}